form{
    width: 450px;
    height: 250px;
    border: 3px solid #2188bd;
    background-color: #0191d0;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    color: white;
}
label{
    margin-right: 150px;
    margin-left: 10px;
}
input{
    border: 0;
}
input[type=text] {
    background-color:white;
    width: 370px;
    margin-left: 10px;
}
input[type=password] {
    background-color: white;
    width: 150px;
    margin-left: 10px;
    margin-right: 50px;
}
hr {
    border: 1px solid white;
  }
.hr1{
    border: none;
    margin:10px; 
}
h1{
    margin: 10px;
}
.hr2{
    margin: 1px;
    border: none;
}
.registerbtn{
    position: absolute;
    background-color: #ffe080;
    margin: 10px;
    border: 0;
    text-align: center;
}